body{
	background-color: white;
}
.eligible a{
	color: green;
	background-color: blue;
	max-width: 400px;
	margin: 15px;
	padding: 10px;
	text-align: center;
	display: block;
	text-decoration: none;
}
h1{
	color: red;
	background-color: black;
	margin: 20px;
	padding: 10px;
	text-align: center;
}