body{
	background-color: white;
}
.sport{
	color: black;
	background-color: white;

}
.sport a{
	color:blue;
	background-color: green;
	display:block;
	text-decoration: none;
	text-align: center;
	max-width: 350px;
	font-size: 28px;
}
h1{
	color:red;
	background-color: black;
	margin: 15px;
	padding: 5px;
}
.home{
	color: green !important;
	background-color: white !important;
}