body{
	color:white;
}
.links{
	color:red;
	background-color: white;
	margin:15px;
	padding:5px;
	text-align: center;
}
 .links a{
 	color:blue;
 	background-color: green;
 	font-size: 28px;
 	display: block;
 	margin: 15px auto;
 	max-width: 400px;
 	text-decoration: none;
 	transition: 0.3s;
 	border-radius: 50px;
 }
 .links a:hover{
 	background-color: red;
 	color:green;
 }
 h1{
 	background-color: black;
 }